{% extends "modelo.html" %}

{% block conteudo %}
<h1>Adicionar Evento/Aula</h1>

<form action="{{ url_for('criar_evento') }}" method="post">
  <div class="mb-3">
    <label for="data" class="form-label">Data</label>
    <input type="date" class="form-control" id="data" name="data" aria-describedby="dataHelp">
    <div id="dataHelp" class="form-text">Data do evento/aula.</div>
  </div>
  <div class="mb-3">
    <label for="descricao" class="form-label">Descrição</label>
    <textarea class="form-control" id="descricao" name="descricao" rows="3"></textarea>
  </div>
  <div class="mb-3">
    <label for="tipo" class="form-label">Tipo</label>
    <select class="form-select" id="tipo" name="tipo">
      <option value="aula">Aula</option>
      <option value="evento">Evento</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>

{% endblock %}