{% extends "modelo.html" %}
{% block conteudo %}

    <h1>Sobre o projeto</h1>
    <p>Este é um sistema educacional desenvolvido para a disciplina de Desenvolvimento de Aplicações Web.</p>
    <p>Desenvolvido por: <a href="https://github.com/CaioZidany">@CaioZidany | Caio Zidany S. Gomes</a></p>

    <h1>Sobre a equipe</h1>
    <div class="card" style="width: 18rem;">
      <img src="https://img.freepik.com/fotos-gratis/mulher-jovem-e-bonita-em-sueter-rosa-quente-aparencia-natural-sorridente-retrato-ligado-isolado-cabelo-comprido_285396-896.jpg" class="card-img-top" alt="Descrição da imagem">
      <div class="card-body">
        <p class="card-text">I'm Eliane Jerse, a data science researcher in the educational field.
      </div>
    </div>

{% endblock %}